
@font-face {
    font-family: 'cool font';
    src: url(../fonts/fonts/PPMonumentExtended-Regular.otf);
}
@font-face {
    font-family: 'cool font';
    src: url(../fonts/fonts/PPMonumentExtended-RegularItalic.otf);
    font-style: italic;
}

@font-face {
    font-family: 'ppm light';
    src: url(../fonts/fonts/PPMonumentExtended-Light.otf);
}

@font-face {
    font-family: 'ppm light';
    src: url(../fonts/fonts/PPMonumentExtended-LightItalic.otf);
    font-style: italic;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: white;
}

header {
    background-color: black;
    font-size: x-large;
    justify-content: center;
    align-items: left;
    text-align: center;
    font-family: 'cool font';
    font-style: italic;
}

#landingpage {
    background-image: url(../img/landingpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'cool font';
    font-style: italic;
}

#landingpage h1 {
    margin-left: 90vh;
    margin-top: 30vh;
    font-size: xx-large;
}


main {
    background-image: url(../img/nature.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    padding-top: 10vh;
    font-family: 'ppm light';
    font-style: italic;
}

.container1, .container3 {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: left;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4vh;
    margin: 5vh 5vh;
}

.container2 {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: right;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4vh;
    margin: 5vh 5vh;
    float: right;
}

.container1 img, .container2 img, .container3 img {
    width: 40%;
    length: 25%;
}

#certifications {
    display: flex;
    height: 100vh;
    background-color: black;
    background-image: url(../img/certifications.jpg);
    flex-direction: column;
}

#certifications h1 {
    text-align: center;
    font-family: 'cool font';
    font-style: italic;
}

.container {
    display: flex;
    height: 70vh;
    justify-content: left;
    align-items: left;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4vh;
    margin: 5vh 5vh;
    font-family: 'ppm light';
    font-style: italic;
    font-size: large;
}
.container p a{
    color: rgb(0, 13, 255);
    text-decoration: none;
}

.container img {
    width: 50%;
    length: 25%;
}