
@font-face {
    font-family: 'cool font';
    src: url(../fonts/fonts/PPMonumentExtended-Regular.otf);
}
@font-face {
    font-family: 'cool font';
    src: url(../fonts/fonts/PPMonumentExtended-RegularItalic.otf);
    font-style: italic;
}

@font-face {
    font-family: 'ppm light';
    src: url(../fonts/fonts/PPMonumentExtended-Light.otf);
}

@font-face {
    font-family: 'ppm light';
    src: url(../fonts/fonts/PPMonumentExtended-LightItalic.otf);
    font-style: italic;
}

body, html {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: white;
}

header {
    background-color: black;
    font-size: x-large;
    justify-content: center;
    align-items: left;
    text-align: center;
    font-family: 'cool font';
    font-style: italic;
}

#landingpage {
    background-image: url(../img/landingpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'cool font';
    font-style: italic;
}

#landingpage h1 {
    margin-left: 90vh;
    margin-top: 30vh;
    font-size: xx-large;
}


main {
    background-image: url(../img/nature.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    font-family: 'ppm light';
    font-style: italic;
    font-size: 3vh;
}

#kmain, #tmain {
    height: 150vh;
    font-family: 'ppm light';
    font-style: italic;
    font-size: 3vh;
}

.container1, .container3 {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: left;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4vh;
    margin: 5vh 5vh;
}

.container2 {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: right;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4vh;
    margin: 5vh 5vh;
    float: right;
}

.kontaktcontainer {
    display: flex;
    height: 90vh;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2vh;
    margin: 5vh 5vh;
    font-size: small;
}

.tjanstercontainer {
    display: flex;
    height: 90vh;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2vh;
    margin: 5vh 5vh;
    font-size: small;
}

.container1 h2, .container2 h2, .container3 h2 {
    font-size: large;
}

.container1 img, .container2 img, .container3 img {
    width: 40%;
    length: 25%;
}

#certifications {
    display: flex;
    height: 130vh;
    background-image: url(../img/certifications.jpg);
    flex-direction: column;
}

#certifications h1 {
    text-align: center;
    font-family: 'cool font';
    font-style: italic;
}

.container {
    display: flex;
    flex-direction: column;
    height: 110vh;
    justify-content: left;
    align-items: left;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4vh;
    margin: 5vh 5vh;
    font-family: 'ppm light';
    font-style: italic;
    font-size: large;
}
.container p a{
    color: rgb(0, 13, 255);
    text-decoration: none;
}

.container img {
    width: 50%;
    length: 25%;
}

.container h2 {
    font-size: larger;
}


#cmain {
    length:100vh;
    background-image: url(../img/desert.jpg);
}

#cmain h1 {
    text-align: center;   
    font-style: italic;
    font-family: 'cool font';
}

#cmain p {
    text-align: center;
    font-family: 'ppm light';
    font-style: italic;
}

.containerc1 {
    display: flex;
    height: 70vh;
    justify-content: right;
    align-items: left;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4vh;
    margin: 5vh 5vh;
    font-family: 'ppm light';
    font-style: italic;
    font-size: large;
}

.containerc1 img {
    width: 60%;
    length: 25%;
}

.containerc2 {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: right;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4vh;
    margin: 5vh 5vh;
    font-family: 'ppm light';
    font-style: italic;
    font-size: large;
}

.containerc2 img {
    width: 60%;
    length: 25%;
}


.section1,
.section2,
.section3 {
    background-color: black;
    opacity: 0.7;
    transition: opacity 0.4s ease-in-out;
}

.section1.active,
.section2.active,
.section3.active {
    opacity: 1;
    transition: opacity 0.4s ease-in-out; 
    visibility: visible; 
}

nav {
    background-color: #000000;
    padding: 10px 20px;
    font-family: 'ppm light';
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

nav ul li a.active {
    background-color: #555;
    border-radius: 5px;
}

#menuIcon {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
    
}

.dropdown-menu {
    display: none; 
    position: absolute;
    top: 0px; 
    background-color: #000000;
    width: 100%; 
}

.dropdown-menu ul {
    list-style: none;
    padding: 10px;
    text-align: center; 
}

.dropdown-menu ul li {
    margin: 10px 0;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:768px) {
    #menuIcon {
        display: flex;
        align-items: flex-end;
    }
    nav {
        display: none;
    }
    #landingpage {
        width:100%;
    }
    #landingpage h1 {
        margin-left: 5vh;
    }
    main {
        width:100%;
    }
    .container1, .container2, .container3, .containerc1 {
        display: flex;
        height: 70vh;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2vh;
        margin: 5vh 5vh;
        font-size: small;
    }

    .containerc2 {
        display: flex;
        height: 90vh;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2vh;
        margin: 5vh 5vh;
        font-size: small;
    }

    .container {
        display: flex;
        height: 80vh;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2vh;
        margin: 5vh 5vh;
        font-size: small;
    }
    .container img {
        width:100%;
    }
    
    .container1 img, .container2 img, .container3 img, .containerc1 img, .containerc2 img {
        width: 100%;
    }
    #certifications {
        height: 140vh;
    }
    #kmain h2, #tmain h2 {
        font-size: medium;
    }

}
